@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
body {
  background: #141414;
  color: #ffffff;
}
.movieapp > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

img {
  border: 5px solid #ffffff;
  height: 250px;
  width: 200px;
}
h1 {
  font-family: "Yeon Sung", cursive;
  font-size: 100x;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
